<mat-card>

    <mat-card-title align='centre' >
    <mat-card *ngIf='authsvc.errorMsg || errorMsg' >
    
        <mat-card-subtitle *ngIf='authsvc.errorMsg' >
            <div [ngClass]="{'error': authsvc.errorMsg}"> {{authsvc.errorMsg}}</div>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf='errorMsg'>
            <div [ngClass]="{'error': authsvc.errorMsg}"> {{authsvc.errorMsg}}</div>
        </mat-card-subtitle>
       
    </mat-card>
    <div class = 'title-header'>Login Form</div>
    <mat-divider></mat-divider>
        <div class='hint-msg'>Hint: username and password are incorrect</div>
    
    </mat-card-title>
    <mat-card-content>
        <mat-card>
            <mat-card-content>
            <mat-list>
                <mat-list-item>
                   <div class='controls-container' >
                       <form [formGroup]='loginForm'>
                       <mat-form-field>
                           <mat-icon matPrefix>account-circle</mat-icon>
                           <input matInput type='text' formControlName='username' placeholder='username (E-mail)' required>
                           <mat-error *ngIf="loginForm.controls['username'].errors?.required">username is required</mat-error>
                       </mat-form-field>
                    </form>
                   </div>
                </mat-list-item>
                <mat-list-item>
                    <div class='controls-container' >
                        <form [formGroup]='loginForm'>
                        <mat-form-field>
                            <mat-icon matPrefix>account-circle</mat-icon>
                            <input matInput type='text' formControlName='password' placeholder='password' required>
                            <mat-error *ngIf="loginForm.controls['username'].errors?.required">password is required</mat-error>
                        </mat-form-field>
                     </form>
                    </div>
                 </mat-list-item>
                
    
            </mat-list>
        </mat-card-content>
        </mat-card>
    
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>